<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Вход на сайт</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body {
            font-family: 'Lato';
        }

        .fa-btn {
            margin-right: 6px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1>Вход</h1>

            <form class="form-horizontal" role="form" method="POST" action="{{ url('/login') }}">
                {{ csrf_field() }}
                <div class="form-group{% if errors.has('email') %} has-error{% endif %}">
                    <label class="col-md-4 control-label">E-Mail</label>

                    <div class="col-md-6">
                        <input type="email" class="form-control" name="email" value="{{ old('email') }}">
                        {% if errors.has('email') %}
                            <span class="help-block">
                                        <strong>{{ errors.first('email') }}</strong>
                                    </span>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group{% if errors.has('password') %} has-error{% endif %}">
                    <label class="col-md-4 control-label">Пароль</label>

                    <div class="col-md-6">
                        <input type="password" class="form-control" name="password">
                        {% if errors.has('password') %}
                            <span class="help-block">
                                        <strong>{{ errors.first('password') }}</strong>
                                    </span>
                        {% endif %}
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6 col-md-offset-4">
                        <div class="checkbox">
                            <label><input type="checkbox" name="remember"> запомнить</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-6 col-md-offset-4">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-btn fa-sign-in"></i>Войти
                        </button>

                        <a class="btn btn-link" href="{{ url('/password/reset') }}">Забыли пароль?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>