{% set menu = 'report' %}

{% extends "layouts.app" %}

{% block title %}Отчёты{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-7 col-md-12">
            <h1>Отчёты</h1>
            <ul>
                <li><a href="{{ route('report_printer') }}">Печатные машины</a></li>
            </ul>
        </div>
    </div>
{% endblock %}