{% set menu = 'report' %}

{% extends "layouts.app" %}

{% block title %}Отчёт по печатным машинам{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-7 col-md-12">
            <h1>Отчёт по печатным машинам</h1>

            <div class="well well-sm">
                <form>
                    <div class="row">
                        <div class='col-md-5'>
                            <div class="form-group">
                                <div class='input-group date'>
                                    <input type='text' name="start" class="form-control"  value="{{ filter.start | date("d.m.Y") }}" id="start_interval">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-5'>
                            <div class="form-group">
                                <div class='input-group date'>
                                    <input type='text' name="finish" class="form-control" value="{{ filter.finish | date("d.m.Y") }}" id="finis_interval">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-2'>
                            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Выбрать</button>
                        </div>
                    </div>
                </form>
            </div>

            <table class="table table-striped table-condensed table-bordered">
                <thead>
                <tr>
                    <th>Дата</th>
                    <th>Клиент</th>
                    <th>Название</th>
                    <th>Сумма</th>
                </tr>
                </thead>
                <tbody>
                {% for item in list %}
                    <tr>
                        <th colspan="3">{{ item.name }}</th>
                        <th class="text-right">{{ item.sum }}</th>
                    </tr>
                    {% for value in item.items %}
                        <tr>
                            <td>{{ value.start }}</td>
                            <td>{{ value.client }}</td>
                            <td>{{ value.order }}</td>
                            <td class="text-right">{{ value.price }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}