{% set menu = 'task' %}

{% extends "layouts.app" %}

{% block title %}График загрузки машин{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-7 col-md-12">
            <h1>График загрузки машин</h1>

            <div class="well well-sm">
                <form>
                    <div class="row">
                        <div class='col-md-5'>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker6'>
                                    <input type='text' name="start" class="form-control"  value=""/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-5'>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker7'>
                                    <input type='text' name="finish" class="form-control" value="" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                                </div>
                            </div>
                        </div>
                        <div class='col-md-2'>
                            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Выбрать</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class='col-md-5'>
                            <div class="form-group">
                                <select  name="client_id" class="form-control">
                                    <option value="">Все клиенты</option>
                                    {% for item in clients %}
                                        <option value="{{ item.id }}">{{ item.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class='col-md-5'>
                            <div class="form-group">
                                <select  name="user_id" class="form-control">
                                    <option value="">Всех менеджеров</option>
                                    {% for item in clients %}
                                        <option value="{{ item.id }}">{{ item.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class='col-md-2'>
                            <a href="{{ route('order') }}" type="submit" class="btn btn-default"><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> Сбросить</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class='col-md-10'>
                            {% for item in printer %}
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="{{ item.id }}" name="worker[]" checked>{{ item.name }}
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
            <table class="table table-striped table-hover" id="work_list" data-list="on">
                <thead>
                <th></th>
                <?php foreach ($printer as $value) : ?>
                {% for item in printer %}
                <th>{{ item.name }}</th>
                {% endfor %}
                </thead>
                <tbody>
                {% for i in range(0, 31) %}
                    {% set start = date().setTime(0, 0, 0) | date_modify("+" ~ i ~ " day")  %}
                <tr>
                    <td>{{ start | date("d.m.y") }}
                    {% for item in printer %}
                    <td class="{{ item.id }}_{{ start | date('U') }}"></td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}