{% set menu = 'client' %}

{% extends "layouts.app" %}

{% block title %}Список клиентов{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-7 col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <h1>Список клиентов</h1>
                </div>
                <div class="col-md-6" style="padding-top: 24px;">
                    <p class="text-right">
                        <a href="{{ route('client_add') }}" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить нового</a>
                    </p>
                </div>
            </div>

            {% if session_has('success') and session_get('success') == 1 %}
                <div class="alert alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    Данные успешно сохранены
                </div>
            {% endif %}

            <table class="table table-striped table-hover">
                <tbody>
                {% for item in list %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td class="text-right"><a href="{{ route('client_view', {'id': item.id})  }}" class="btn btn-link"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}