{% set menu = 'client' %}

{% extends "layouts.app" %}

{% block title %}Справка{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-7 col-md-12">
            <h1>Справка</h1>

            <form class="form-horizontal" method="post" action="{{ route('client_update') }}">
                <input type="hidden" name="_token" value="{{ csrf_token() }}">
                <input type="hidden" name="id" value="{{ client.id }}">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Имя</label>
                    <div class="col-sm-8">
                        <input type="text" name="name" class="form-control" value="{{ client.name }}" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-8">
                        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Сохранить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}