<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">
    <title>{% block title %}{% endblock %} - CRM</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/simple-sidebar.css" rel="stylesheet">
    <link href="/css/menu.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/bootstrap-datepicker3.css" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="wrapper">
    <div id="sidebar-wrapper">
        <div class="profile-usertitle">
            <div class="profile-usertitle-name">
                {{ auth_user().name }}
            </div>
            <div class="profile-usertitle-job">
                Developer
            </div>
        </div>
        <nav class="navbar navbar-default sidebar" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        {% if menu is defined and menu == 'help' %}
                            <li class="active"><a href>Справка<span style="font-size:16px;" class="pull-right showopacity glyphicon glyphicon-question-sign"></span></a></li>
                        {% else %}
                            <li><a href="{{ route('root') }}">Справка<span style="font-size:16px;" class="pull-right showopacity glyphicon glyphicon-question-sign"></span></a></li>
                        {% endif %}

                        {% if menu is defined and menu == 'order_create' %}
                            <li class="active"><a href>Создать заказ<i class="pull-right showopacity fa fa-rub" aria-hidden="true"></i></a></li>
                        {% else %}
                            <li><a href="{{ route('order_create') }}">Создать заказ<i class="pull-right showopacity fa fa-rub" aria-hidden="true"></i></a></li>
                        {% endif %}

                        {% if menu is defined and menu == 'user' %}
                            <li class="active"><a href>Менеджеры<i class="pull-right showopacity fa fa-users" aria-hidden="true"></i></a></li>
                        {% else %}
                            <li><a href="{{ route('user_list') }}">Менеджеры<i class="pull-right showopacity fa fa-users" aria-hidden="true"></i></a></li>
                        {% endif %}

                        {% if menu is defined and menu == 'client' %}
                            <li class="active"><a href>Клиенты<i class="pull-right showopacity fa fa-briefcase" aria-hidden="true"></i></a></li>
                        {% else %}
                            <li><a href="{{ route('client') }}">Клиенты<i class="pull-right showopacity fa fa-briefcase" aria-hidden="true"></i></a></li>
                        {% endif %}

                        {% if menu is defined and menu == 'worker' %}
                            <li class="active"><a href>Работники<i class="pull-right showopacity fa fa-gavel" aria-hidden="true"></i></a></li>
                        {% else %}
                            <li><a href="{{ route('worker') }}">Работники<i class="pull-right showopacity fa fa-gavel" aria-hidden="true"></i></a></li>
                        {% endif %}

                        {% if menu is defined and menu == 'task' %}
                            <li class="active"><a href>График загрузки<i class="pull-right showopacity fa fa-bar-chart" aria-hidden="true"></i></a></li>
                        {% else %}
                            <li><a href="{{ route('task') }}">График загрузки<i class="pull-right showopacity fa fa-bar-chart" aria-hidden="true"></i></a></li>
                        {% endif %}

                        {% if menu is defined and menu == 'order' %}
                            <li class="active"><a href>График исполнения<i class="pull-right showopacity fa fa-line-chart" aria-hidden="true"></i></a></li>
                        {% else %}
                            <li><a href="{{ route('order') }}">График исполнения<i class="pull-right showopacity fa fa-line-chart" aria-hidden="true"></i></a></li>
                        {% endif %}

                        {% if menu is defined and menu == 'report' %}

                        {% else %}
                            <li><a href="{{ route('report') }}">Отчёты<span class="pull-right showopacity glyphicon glyphicon-list-alt"></span></a></li>
                        {% endif %}

                        <li><a href="/logout">Выход<span class="pull-right showopacity glyphicon glyphicon-log-out"></span></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div id="page-content-wrapper">
        <div class="container-fluid">{% block content %}{% endblock %}</div>
    </div>
</div>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-datepicker.min.js"></script>
<script src="/js/bootstrap-datepicker.ru.min.js" charset="UTF-8"></script>
<script src="/js/main.js"></script>
{% block script %}{% endblock %}
</body>
</html>