{% set menu = 'order_create' %}

{% extends "layouts.app" %}

{% block title %}Создание нового заказа{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-7 col-md-12">
            <h1>Создание нового заказа</h1>
            <form class="form-horizontal" method="post" action="{{ route('order_insert') }}">
                <input type="hidden" name="_token" value="{{ csrf_token() }}">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Клиент</label>
                    <div class="col-sm-8">
                        <select  name="client_id" class="form-control" required>
                            <option value="">-</option>
                            {% for item in clients %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Наименование заказа</label>
                    <div class="col-sm-8">
                        <input type="text" name="name" class="form-control" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Спецификация</label>
                    <div class="col-sm-8">
                        <textarea name="description" class="form-control" rows="3" required></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Количество</label>
                    <div class="col-sm-4">
                        <input type="text" name="amount" class="form-control" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Цена (руб)</label>
                    <div class="col-sm-4">
                        <input type="text" name="price" class="form-control" required>
                        <p>* - сумма которую выставили клиенту</p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Дата получения тиража план</label>
                    <div class="col-sm-8">
                        <div class="input-group date">
                            <input type="text" name="ready" class="form-control datepicker" required>
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Где лежит файл</label>
                    <div class="col-sm-8">
                        <input type="text" name="path" class="form-control" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Сохранить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}