{% set menu = 'order' %}

{% extends "layouts.app" %}

{% block title %}График исполнения{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-7 col-md-12">
            <h1>График исполнения</h1>

            {% if session_has('success') and session_get('success') == 1 %}
                <div class="alert alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    Данные успешно сохранены
                </div>
            {% endif %}

            <div class="well well-sm">
                <form>
                    <div class="row">
                    <div class='col-md-5'>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker6'>
                                <input type='text' name="start" class="form-control"  value=""/>
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-5'>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker7'>
                                <input type='text' name="finish" class="form-control" value="" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                        <div class='col-md-2'>
                            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span> Выбрать</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class='col-md-5'>
                            <div class="form-group">
                                <select  name="client_id" class="form-control">
                                    <option value="">Все клиенты</option>
                                    {% for item in clients %}
                                        <option value="{{ item.id }}">{{ item.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class='col-md-5'>
                            <div class="form-group">
                                <select  name="user_id" class="form-control">
                                    <option value="">Всех менеджеров</option>
                                    {% for item in clients %}
                                        <option value="{{ item.id }}">{{ item.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class='col-md-2'>
                            <a href="{{ route('order') }}" type="submit" class="btn btn-default"><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> Сбросить</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-12 col-md-12">

            <table class="table table-striped table-hover">
                <thead>
                <th></th>
                <th>Заказчик</th>
                <th>Наименование заказа</th>
                <th>Тираж, шт.</th>
                <th>Дата подачи заявки</th>
                <th>Наименование загружаемой машины</th>
                <th>Срок изготовления заказа, дни</th>
                </thead>
                <tbody>
                {% for item in list %}
                {% if item.task.count() > 0 %}
                    <tr class="success">
                {% else %}
                    <tr class="danger">
                {% endif %}
                <td><a href="{{ route('order_view', {'id': item.id}) }}" class="btn btn-link"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></td>
                <td>{{ item.client }}</td>
                <td>[{{ item.id }}] {{ item.name }}</td>
                <td>{{ item.amount }}</td>
                <td>{{ item.created_at | date("d.m.y") }}</td>
                <td>
                    {% for item in item.task %}
                        <p>{{ item.worker }}</p>
                    {% endfor %}
                </td>
                <td>{{ item.ready | date("d.m.y") }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}