{% set menu = 'order_view' %}

{% extends "layouts.app" %}

{% block title %}Просмотр заказа{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-5 col-md-5">
            <h1>Просмотр заказа</h1>

            <table class="table table-striped">
                <tbody>
                <tr>
                    <td>Номер заказа</td>
                    <td>{{ order.id }}</td>
                </tr>
                <tr>
                    <td>Менеджер</td>
                    <td>{{ order.user }}</td>
                </tr>
                <tr>
                    <td>Дата заполнения заявки</td>
                    <td>{{ order.created_at | date("d.m.Y") }}</td>
                </tr>
                <tr>
                    <td>Заказчик</td>
                    <td>{{ order.client }}</td>
                </tr>
                <tr>
                    <td>Наименование заказа</td>
                    <td>{{ order.name }}</td>
                </tr>
                <tr>
                    <td>Спецификация</td>
                    <td>{{ order.description }}</td>
                </tr>
                <tr>
                    <td>Количество</td>
                    <td>{{ order.amount }}</td>
                </tr>
                <tr>
                    <td>Цена (руб)</td>
                    <td>{{ order.price }}</td>
                </tr>
                <tr>
                    <td>Дата получения тиража план</td>
                    <td>{{ order.ready }}</td>
                </tr>
                <tr>
                    <td>Где лежит файл</td>
                    <td>{{ order.path }}</td>
                </tr>

                {% for item in order.task %}
                <tr>
                    <td></td>
                    <td>
                        <p>Наименование загружаемой машины: {{ item.worker }}</p>
                        <p>Дата начала: {{ item.start_work | date("d.m.Y") }}</p>
                        <p>Срок изготовления заказа, дни: {{ item.days }}</p>
                        <p>Цена работы: {{ item.price }}</p>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-lg-5 col-md-5">

            <h1>Создание заявки на заказ</h1>

            <form class="form-horizontal" method="post" action="{{ route('task_insert') }}">
                <input type="hidden" name="_token" value="{{ csrf_token() }}">
                <input type="hidden" name="order_id" value="{{ order.id }}">

                <div class="form-group">
                    <label class="col-sm-4 control-label">Наименование загружаемой машины</label>
                    <div class="col-sm-8">
                        <select name="printer_id" class="form-control" required>
                            <option value="">-</option>
                            {% for item in workers %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Дата начала</label>
                    <div class="col-sm-8">
                        <div class="input-group date">
                            <input type="text" name="start_work" class="form-control datepicker" required>
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Срок изготовления заказа, <strong>часы</strong></label>
                    <div class="col-sm-4">
                        <input type="text" name="days" class="form-control" required>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-4 control-label">Цена работы</label>
                    <div class="col-sm-4">
                        <input type="text" name="price" class="form-control" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Создать</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}