{% set menu = 'worker' %}

{% extends "layouts.app" %}

{% block title %}Работники/печатные машины{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-7 col-md-12">
            <div class="row">
                <div class="col-md-7">
                    <h1>Работники/печатные машины</h1>
                </div>
                <div class="col-md-5" style="padding-top: 24px;">
                    <p class="text-right">
                        <a href="{{ route('worker_create') }}" class="btn btn-success"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Добавить нового</a>
                    </p>
                </div>
            </div>

            {% if session_has('success') and session_get('success') == 1 %}
                <div class="alert alert-success" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    Данные успешно сохранены
                </div>
            {% endif %}

            <table class="table table-striped table-condensed table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Название</th>
                    <th>Тип</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for item in list %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.type }}</td>
                    <td class="text-right"><a href="{{ route('worker_view', {'id': item.id}) }}" class="btn btn-link"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}