{% set menu = 'worker' %}

{% extends "layouts.app" %}

{% block title %}Регистрация нового работника{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-7 col-md-12">
            <h1>Регистрация нового работника</h1>
            <form class="form-horizontal" method="post" action="{{ route('worker_update') }}">
                <input type="hidden" name="_token" value="{{ csrf_token() }}">
                <input type="hidden" name="id" value="{{ worker.id }}">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Имя</label>
                    <div class="col-sm-8">
                        <input type="text" name="name" class="form-control" value="{{ worker.name }}" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Заказчик</label>
                    <div class="col-sm-8">
                        <select  name="type_id" class="form-control" required>
                            <option value="">-</option>
                            {% for item in types %}
                                {% if item.id == worker.type_id %}
                                    <option value="{{ item.id }}" selected>{{ item.name }}</option>
                                {% else %}
                                    <option value="{{ item.id }}">{{ item.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-8">
                        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Сохранить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}